@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
.header__block {
	padding: 20px 0;
	background: #800080;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	position: fixed;
	z-index: 5;
	width: 100%;
	text-align: center;
}
._container {
	max-width: 1440px;
	margin: 0 auto;
}
.block {
	padding: 30px 100px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.block__item {
	padding: 40px 20px;
}
.block__item_color-teal {
	background: #008080;
	position: relative;
	top: 70px;
	z-index: 2;
}
.block__item_color-navy {
	background: #000080;
	position: relative;
	text-align: center;
}
.block__item_color-navy span {
	position: relative;
	z-index: 2;
	color: #FF0000;
}
.block__item_color-indigo {
	background: #4B0082;
	position: relative;
	z-index: 2;
	text-align: right;
}
.block__item_color-indigo span {
	position: relative;
	color: #FFD700;
	top: -70px;
}
.block2 {
	padding: 50px 100px;
}
.block2__item {
	width: 200px;
	height: 200px;
	background: #00FFFF;
}
.square1 {
	position: relative;
}
.square1::before {
	content: "";
	display: block;
	position: absolute;
	left: 210px;
	width: 200px;
	height: 200px;
	background: #00FFFF;
}
.square1::after {
	content: "";
	display: block;
	position: absolute;
	left: 420px;
	width: 200px;
	height: 200px;
	background: #00FFFF;
}
.square2 {
	position: relative;
	top: 10px;
	left: 210px;
}
.square2::before {
	content: "";
	display: block;
	position: absolute;
	left: -210px;
	width: 200px;
	height: 200px;
	background: #00FFFF;
}
.square2::after {
	content: "";
	display: block;
	position: absolute;
	left: 210px;
	width: 200px;
	height: 200px;
	background: #00FFFF;
}
.list-items {
	padding: 50px 100px;
}
.list-items__item {
	font-size: 22px;
	line-height: 28px;
	position: relative;
	padding: 0 0 0 35px;

}
.list-items__item:not(:last-child) {
	margin: 0 0 15px 0;
}
.list-items__item::before {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #4169E1;
	top: 0;
	left: 0;
}
.list-items__item:hover::before {
	background: #00008B;
}
.who-are-you__header {
	height: 312px;
	background: url(../img/BG_Image.jpg) 0 bottom/ cover no-repeat;
}
.who-are-you__img {
	position: relative;
	left: 1105px;
	bottom: -128px;
	z-index: 1;
}
.who-are-you__body {
	max-width: 1020px;
	margin: -80px auto 0 auto;
	padding: 100px 87px 354px 87px;
	background: #5D62B5;
	border-radius: 40px;
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.who-are-you__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
	position: relative;
	padding: 0 0 0 40px;
	margin: 0 0 33px 0;
}
.who-are-you__title::before {
	content: "";
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	background: url(../img/icon/Overline_Mark.svg) 0 0 no-repeat;
}
.who-are-you__sub-title {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin: 0 0 36px 0;
}
.who-are-you__text {
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}
.who-are-you__image {
	position: absolute;
	bottom: -160px;
	left: -10px;
}
.who-are-you__dog {
	background: url(../img/Image.jpg) 0 0/cover no-repeat;
	width: 846px;
	height: 420px;
	margin: -285px auto 0 auto;
	position: relative;
	border-radius: 35px;
	box-shadow: 0 10px 10px #808080;
}